.user-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.user-item {
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr auto;
  border-bottom: 1px solid #cccaca;
  transition: all ease-in 0.1s;
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid #6787e5;
  }

  & > .user-item__name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & > .user-item-name__email {
      color: #aba9a9;
    }
  }

  & > .user-item__remove-btn {
    padding: 0.5rem 1rem;
    background-color: white;
    border: 1px solid #aba9a9;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease-in 0.1s;

    &:hover {
      background-color: #aba9a9;
      color: white;
    }
  }
}