.user-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.user-item {
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr auto;
  border-bottom: 1px solid #cccaca;
  transition: all ease-in 0.1s;
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid #2c7495;
  }

  & > .user-item__name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & > .user-item-name__email {
      color: #aba9a9;
    }
  }
}
